# Mac OS Files
.DS_Store

# IntelliJ files
/.idea/
/.idea_modules/
/out/
*.iml
*.iws

# Eclipse files
/.settings/
/bin/
/build/
/.classpath
/.project

# Gradle files
/.gradle/
/gradle.properties

# Java files
hs_err_pid*
*.class

# BiPoller files
/database.cfg
